:root {
    --White-background-color: #ffffff;
    --gray-button-color: #9397AD;
    --purple-signin: #6366F1;
    --smalltext-color: #565973;
    --logo-box: #E2E5F1;
    --font-family-standard: "Manrope", sans-serif;
    --smallergreytext: #9397AD;
    --hdiw-background: #F3F6FF;
    --icon-background-color: #EFF2FC;
    --green-text: #22C55E;
    --Bar-border: #D4D7E5;
}

[data-theme="dark"] {
    --White-background-color: #ffffff;
}