@import url("./constants.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.hero {
    display:block;
    max-width: auto;
    
    width:100%;
    background: radial-gradient(ellipse at bottom, var(--radial-color1) 0%, var(--radial-color2) 42%, var(--radial-color3) 83%, var(--radial-color4) 100%);
    
}

.title {
    display: block;   
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: auto;
    transition: ease 300ms;
    padding: 3px;
    padding-top:95px;

    @media (width >= 700px) {
       display: flex;
        padding: 0px;
       padding-top: 300px;
       padding-left: 10px;
       padding-right: 10px;
    }
    @media (width >= 1150px) {
        display: flex;
        max-width: 1296px;
        padding: 0px;
        padding-top:0px;
    }

}

.herotextbox {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    color: var(--basic-text-color);
    text-align: center;
    @media (width >= 700px) {
    }
    @media (width >= 1150px) {
        position: relative;
        width: auto;
    }
}

.smalltext {
    display: block;
    
}

.herobox {
    display: block;
    
    margin: auto;
    justify-content: end;
    align-items: end;
}

.herotext1 {
    position:unset;
    display: block;
    margin: auto;
    font-size: 40px;
    font-family: var(--font-family-standard);
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    margin-bottom: 40px;
    width: 80%;
    transform:translateX(none);
    @media (width >= 700px) {
        position: absolute;
        width: 63%;
        top: 15%;
        left:50%;
        transform:translateX(-50%);
        text-align: center;
        font-size: 50px;
        margin-bottom: 0px;
    }
    @media (width >= 1150px) {
        text-align: start;
        width: 100%;
        position: unset;
        font-size: 56px;
        margin-bottom: 20px;
        transform:translateX(-0%);
    }
}

.herotext2 {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family-standard);
    color: var(--smalltext-color);
    line-height: 160%;
    width: 100%;
    padding: 0px 60px;
    @media (width >= 700px) {
        width: 80%;
        text-align: start;
        padding: 0px 10px;
    }
}

.storelinks {
    padding: 0px 15px;
    display: block;
    margin-top: 40px;
    gap: 25px;
    
    @media (width >= 700px) {
        margin-top: 60px;
        display: flex;
        padding: 0px;
        padding-bottom: 50px;
        gap: 2%;
    }
}

.store {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:    "icon text"
                            "icon store";

    background-color: var(--basic-text-color);
    color: white;
    font-family: var(--font-family-standard);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 8px;  
    transition: ease 300ms;
    color: black;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap:4px;
    column-gap: 1rem;
    
    
    @media (width >=700px) {
        height: 65px;
        gap:0px;
        width: auto;
        column-gap: 1rem;
        grid-template-columns: auto 1fr;
        margin-bottom: 0px;
    }
    @media (width >= 1150px) {
        gap:0px;
        column-gap: 1rem;
        width: 100%;
        margin-bottom: 0px;
    }
    
    .downloadstore {
        grid-area: text;
        font-size: 0.6em;
        font-weight: 600;
        margin: auto;
        text-align: center;
        position: relative;
        top: 3px;
        @media (width >= 700px) {
            text-align: start;
            margin-left: 0px;
        }
    }

    .storeimg {
        margin: auto;
        grid-area: icon;
        height: auto;
        width: auto;
        @media (width >= 700px) {
            margin-left: 0px;
            left: 0px;
        }
    }

    .storetitle {
        margin: auto;
        grid-area: store;
        font-size: 1.2em;
        font-weight: 600;
        font-display: hidden;
        line-height: 1em;
        max-height: 2em;
        @media (width >= 700px) {
            text-align: start;
            margin-left: 0px;
            font-size: 1.3em;
        }
    }

    &:hover {
        box-shadow: 0px 2px 10px 0px grey;
        background-color: var(--gray-button-color);
        color: var(--smalltext-color);
    }

    #appstoreblack {
        display: none;
        
    }
}

.heroimg {
    display: none;
    justify-content: baseline;
    align-items: baseline;
    margin: auto;
    
    @media (width >= 700px) {
        display: flex;
    }
}

.phone {
    display: none;
    margin: auto;
    flex-wrap: wrap;
    margin-top: auto;
    
    @media (width >= 700px) {
        display: flex;
        width: 100%;
    }
    @media (width >= 1150px) {
        margin-top: 200px;
        width: auto;
    }
}

.store {
    color: var(--basic-text-color-opsite)
    
}