
@import url("./constants.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    max-width: auto;
    margin: auto;
}

.navbar {
    display: flex;
    background-color: var(--White-background-color);
    padding: 0 15px;
    height: 76px;
}

.content-wrapper{
    display:flex;
    max-width:1296px;
    width:100%;
    margin:auto;
    position:relative;
    align-items: center;
    
}

.nav-right{
    display:flex;
    position:absolute;
    right:0px;
}

.logo {
    display: flex;
    margin-top: 15px;
    height: 44px;
    width: 122px;
}

.darkmodebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 30px;
}

.darkmodetext {
    font-family: var(--font-family-standard);
    font-size: 16px;
    padding:12px 0;
    line-height: 160%;
    margin-right: 16px;
    color: var(--smalltext-color);
}

.boxbutton {
    display: flex;
    height: 24px;
    width: 46px;
    background-color: var(--gray-button-color);
    border-radius: 12px;
    align-items: center;
    justify-content: start;
}

.circle {
    display: flex;
    height: 20px;
    width: 20px;
    background-color: var(--White-background-color);
    border-radius: 12px;
    margin-left: 2px;
}

.login {
    display: flex;
    margin: auto;
    border-radius: 4px;
    padding: 9px 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-signin);

}

.logintext {
    font-size: 14px;
    font-family: var(--font-family-standard);
    color: var(--White-background-color);
    text-decoration: none;
    line-height: 18px;
}

.bi-person {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}



.hero {
    display:flex;
    max-width: auto;
    height: 876px;
    width:100%;
    background-color: var(--White-background-color);
    background: radial-gradient(ellipse at bottom, #6366F11A 0%, #DA46EF0D 42%, #F1F4FD12 83%, #ffffffff 100%);
}

.title {
    display: flex;
    max-width: 1296px;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-right: 0px;
    position: relative;
    margin: auto;
    padding: 0px 15px;
}

.herotextbox {
    display: block;
    max-width: 526px;
    max-height: 328px;
}

.herotext1 {
    font-size: 56px;
    font-family: var(--font-family-standard);
    font-weight: bold;
    margin-bottom: 24px;
    width: 526px;
    line-height: 130%;
}

.herotext2 {
    font-size: 18px;
    font-family: var(--font-family-standard);
    color: var(--smalltext-color);
    line-height: 160%;
    
}

.herotext3 {
    font-size: 18px;
    font-family: var(--font-family-standard);
    color: var(--smalltext-color);
    line-height: 160%;
}

.storelinks {
    margin-top: 48px;
}

.appstore {
    margin-right: 24px;
}

.phone {
    display: flex;
    justify-content: right;
    margin-left: 10px;
    margin-top: 190px;
}


.brands {
    display:block;
    max-width: auto;
    height: auto;
    width:100%;
    background-color: var(--White-background-color);
    align-items: center;
    justify-content: center;
    
}

.Logo {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 1296px;
    margin: auto;
    margin-top: 96px;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.logo1 {
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.logo2 {
    height: 100px;
    width: 196px;
    display: block;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid var(--logo-box);
    margin-left: 24px;
    transition: ease 300ms;
}

.logo2:hover {
    box-shadow: 0px 2px 10px 0px lightgrey;
}

.featuresapp {
    display: flex;
    max-width: 1296px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 150px;
}

.featuretext {
    display: flex;
    margin: auto;
    margin-left: 202px;
    margin-top: 0px;
    flex-wrap: wrap;
    
}

.appfeaturehead {
    font-family: var(--font-family-standard);
    margin-bottom: 80px;
}

.apptitle {
    line-height: 130%;
    font-size: 40px;
    margin-bottom: 24px;
}

.apptitletext {
    color: var(--smallergreytext);
    line-height: 160%;
    font-size: 18px;
    width: 746px;
}

.featurebox {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    flex-basis: 100%;
    row-gap: 50px;
    column-gap: 50px;
}

.iconbox {
    display: flex;
    font-family: var(--font-family-standard);
    min-width: 345px;
}

.iconboximg {
    width: 60px;
    height: 60px;
    margin:auto;
    margin-right: 24px;
    margin-top: 0px;
}

.iconboxtext {
    margin-top: 12px;
    font-size: 16px;
    line-height: 160%;
    color: var(--smalltext-color);
}

.featurephone {
    display: block;
    width: 348px;
    height: 684px;
    margin-top: 20px;
}


.hdiw {
    display:block;
    height: auto;
    width:100%;
    background-color: var(--hdiw-background);
    padding-bottom: 90px;
}

.contenthdiw {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.hdiw-text{
    display: flex;
    font-family: var(--font-family-standard);
    font-weight: bold;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 70px;
}

.carousel {
    display: flex;
    margin: auto;
    height: 663px;
    width: 1184px;
}

.h2hdiw {
    font-weight: bold;
}

.hdiw-filler {
    display: flex;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 636px;
    font-family: var(--font-family-standard);
    text-align: center;
    margin-top: 70px;
}
.phdiw {
    margin-top: 12px;
    font-size: 16px;
    line-height: 160%;
    color: var(--smalltext-color);
    display: flex;
    line-height: auto;
}


.appfeatures{
    display:flex;
    height: auto;
    margin: auto;
    align-items: center;
    max-width: auto;
    width:100%;
    padding-bottom: 90px;
}

.featurewrapper {
    display: block;
    justify-content: center;
    width: auto;
    margin: auto;
}

.upperfeatures {
    display: flex;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.textupper {
    font-family: var(--font-family-standard);
    display: box;
    width: 416px;
    margin-right: 100px;
    padding-left: 10px;
}

.listfeatures {
    display: block;
    padding-left: 0;
    margin-left: 25px;
    list-style: url("/logo/bx-check-circle.svg");
}

li {
    font-size: 16px;
    color: var(--smalltext-color);
    margin-bottom: 12px;
}

.listpoint {
    display: flex;
    margin: auto;
    position: relative;
    bottom: 4px;
}

.learnmore {
    display: flex;
    width: 159px;
    height: 44px;
    border-radius: 6px;
    background-color: var(--purple-signin);
    align-items: center;
    justify-content: center;
    color: var(--White-background-color);
    font-size: 14px;
    margin-top: 50px;
}

.learnmoretext {
    margin-right: 8px;
}

.learnmoreimg {
    margin-top: 2px;
}

.h1appfeatures {
    display: flex;
    font-size: 32px;
    margin-bottom: 50px;
    width:  95%;
}

.imgupper {
    display: block;
    
    margin-top: 2px;
    width: 526px;
    height: 500px;
}

.textlower {
    font-family: var(--font-family-standard);
    padding-left: 20px;
    width: 526px;
}

.textfiller {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.fillerlower {
    max-width: 243px;
}

.textboxlower {
    margin-top: 16px;
    color: var(--smalltext-color);
}

.h2appfeatures {
    display: flex;
    font-size: 32px;
    margin-bottom: 50px;
}

.imgboxfeature {
    display: flex;
    padding: 15px;
    background-color: var(--icon-background-color);
    border-radius: 8px;
}


.testaimonials {
    display:flex;
    height: auto;
    margin: auto;
    align-items: center;
    max-width: auto;
    width:100%;
    padding-bottom: 90px;
    background-color: var(--hdiw-background);
}

.testaimonialwrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: auto;
    padding-top: 90px;
}

.testaimonialhead {
    width: 306px;
    font-family: var(--font-family-standard);
    margin-right: 100px;
    width: 18%;
    font-weight: bold;
}

.commentbox {
    display: flex;
    
    height: 350px;
}

.reviewbox {
    display: block;
    align-items: center;
    background-color: var(--White-background-color);
    box-shadow: 0px 2px 10px 0px lightgrey;
    border-radius: 5px;
    width: 85%;
    max-width: 416px;
    padding: 24px;
    padding-top: 48px;
    margin-top: 30px;
    flex-basis: 90%;
    margin-right: 24px;
    height: 329px;
}

.commenttag {
    display: block;
    padding: 11px;
    background-color: var(--purple-signin);
    box-shadow: 0px 5px 10px 2px lightgray;
    position: absolute;
    border-radius: 6px;
    margin-left: 10px;
}

.commentprofile {
    font-family: var(--font-family-standard);
    display: flex;
}

.profilename {
    font-weight: bold;
    font-size: 16px;
}

.profiletitle {
    font-size: small;
    color: var(--smallergreytext);
}

.profileicon {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin-right: 10px;
}

.commenttext {
    display: flex;
    font-family: var(--font-family-standard);
    color: var(--smalltext-color);
    margin-bottom: 20px;
    padding: 24px 0px 24px 0px;
}